<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rs.gateway.mapper.FavoriteMapper">

    <insert id="insertIgnore">
        INSERT IGNORE INTO favorites (user_id, item_id) VALUES (#{userId}, #{itemId})
    </insert>

    <delete id="delete">
        DELETE FROM favorites WHERE user_id = #{userId} AND item_id = #{itemId}
    </delete>

    <select id="selectByUserId" resultType="Item">
        SELECT i.id, i.title, i.tags, i.author, i.hot_score, i.ctr, i.publish_time, i.url, i.summary
        FROM favorites f JOIN items i ON f.item_id = i.id
        WHERE f.user_id = #{userId}
        ORDER BY f.created_at DESC
    </select>
</mapper>
