<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rs.rank.infrastructure.persistence.RankConfigMapper">

    <select id="selectById" resultType="RankConfig">
        SELECT id, w_ctr, w_interest, w_hot, w_fresh
        FROM rank_config
        WHERE id = #{id}
    </select>
</mapper>
