<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rs.rank.mapper.UserMapper">

    <select id="selectInterestTags" resultType="string">
        SELECT IFNULL(interest_tags, '') FROM users WHERE id = #{userId}
    </select>
</mapper>
